/* custom styles for my blog, across all themes */

img.project-image{
	width: 100%;
}

img.port-thumb{
  width:100%; 
  opacity: 0.8;
  border: 3px #0a0a0a solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
}


img.port-thumb:hover{
  opacity: 1;
  border: 3px #AA5566 solid;
}


img{
	width: 100%;
}

img.home_icon{
	display: inline;
	height: 50px;
	width: 50px;
}